In [34]:
#Extracting financial data of Fidelity Bank from Edgar
import requests
import pandas
headers = {'user-agent': 'sample text'}
url = "https://www.sec.gov/Archives/edgar/data/0001031233/000156459021016418/ppbn-10k_20201231.htm" 
financial_report = requests.get(url,headers=headers)
df =pandas.read_html(financial_report.text)
df = df[12].dropna(how = 'all')

df = df.fillna(0)
df

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
0,0,0.0,"Year ended December 31,","Year ended December 31,","Year ended December 31,","Year ended December 31,","Year ended December 31,","Year ended December 31,","Year ended December 31,","Year ended December 31,",...,"Year ended December 31,","Year ended December 31,","Year ended December 31,","Year ended December 31,","Year ended December 31,","Year ended December 31,","Year ended December 31,","Year ended December 31,","Year ended December 31,",0
1,0,0.0,2020,2020,2020,2020,2020,2020,2020,2020,...,2018,2018,2018,2018,2018,2018,2018,2018,2018,0
2,Assets,0.0,Average balance(1),Average balance(1),0,0,Interest income/ expense,Interest income/ expense,0,0,...,Average balance(1),0,0,Interest income/ expense,Interest income/ expense,0,0,Rate earned/ paid,Rate earned/ paid,0
3,Interest-earning assets:,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Loans (2),0.0,$,432591,0,0,$,19734,0,0,...,363891,0,0,$,16908,0,0,0,4.65,%
5,Investment securities:,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,Taxable,0.0,0,35610,0,0,0,698,0,0,...,35904,0,0,0,806,0,0,0,2.24,%
7,Tax-exempt (3),0.0,0,8966,0,0,0,256,0,0,...,11099,0,0,0,321,0,0,0,2.89,%
8,Interest-earning deposits,0.0,0,71624,0,0,0,187,0,0,...,19791,0,0,0,334,0,0,0,1.69,%
9,Federal funds sold,0.0,0,75,0,0,0,â€”,0,0,...,51,0,0,0,1,0,0,0,1.96,%
10,Total interest-earning assets,0.0,0,548866,0,0,0,20875,0,0,...,430736,0,0,0,18370,0,0,0,4.26,%
11,Other assets:,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,Allowance for loan losses,0.0,0,"(3,485",),0,0,0,0,0,...,"(3,114",),0,0,0,0,0,0,0,0
13,Cash and due from banks,0.0,0,3724,0,0,0,0,0,0,...,2661,0,0,0,0,0,0,0,0,0
14,"Other assets, net",0.0,0,37471,0,0,0,0,0,0,...,30804,0,0,0,0,0,0,0,0,0
15,Total assets,0.0,$,586576,0,0,0,0,0,0,...,461087,0,0,0,0,0,0,0,0,0
16,Liabilities and Stockholdersâ€™ equity,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,Interest-bearing liabilities:,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,Savings and NOW,0.0,0,289180,0,0,$,968,0,0,...,227979,0,0,$,660,0,0,0,0.29,%
19,Time,0.0,0,99164,0,0,0,1551,0,0,...,98977,0,0,0,1182,0,0,0,1.19,%
20,Other borrowings,0.0,0,â€”,0,0,0,â€”,0,0,...,2465,0,0,0,45,0,0,0,1.83,%
21,Federal funds purchased,0.0,0,â€”,0,0,0,â€”,0,0,...,214,0,0,0,1,0,0,0,0.47,%
22,0,0.0,0,388344,0,0,0,2519,0,0,...,329635,0,0,0,1888,0,0,0,0.57,%
23,Noninterest-bearing liabilities:,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,Demand deposits,0.0,0,142659,0,0,0,0,0,0,...,89035,0,0,0,0,0,0,0,0,0
25,Other liabilities,0.0,0,7408,0,0,0,0,0,0,...,2144,0,0,0,0,0,0,0,0,0
26,Total liabilities,0.0,0,538411,0,0,0,0,0,0,...,420814,0,0,0,0,0,0,0,0,0
27,Total stockholdersâ€™ equity,0.0,$,48165,0,0,0,0,0,0,...,40273,0,0,0,0,0,0,0,0,0
28,0,0.0,0,586576,0,0,0,0,0,0,...,461087,0,0,0,0,0,0,0,0,0
29,Net interest income,0.0,0,0,0,0,$,18356,0,0,...,0,0,0,$,16482,0,0,0,0,0
30,Net interest margin (4),0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3.83,%
31,Net interest spread (5),0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3.69,%